<style type="text/css">          
    .my-flip-book-container {
    height: 550px;
    }
</style>

<div class="my-flip-book-container"></div>

<script src="/modules/easy_flipbook_2.1_free/js/easy-flipbook.js"></script>

<script type="text/javascript">
    var template = {
    html: '/modules/easy_flipbook_2.1_free/templates/default-book-view.html',
    styles: [
        '/modules/easy_flipbook_2.1_free/css/black-book-view.css'
    ],
    script: '/modules/easy_flipbook_2.1_free/js/default-book-view.js',
    sounds: {
        startFlip: '/modules/easy_flipbook_2.1_free/sounds/start-flip.mp3',
        endFlip: '/modules/easy_flipbook_2.1_free/sounds/end-flip.mp3'
    },
    links: [{
        rel: "stylesheet",
        href: "/modules/easy_flipbook_2.1_free/css/font-awesome.min.css"
    }]
    };

    $('.my-flip-book-container').FlipBook({    
    template: template,
    {{ flipbook_src_options }}    
    });
    
</script>
